@model IEnumerable<string>
@{
    ViewData["Title"] = "Home Page";
}
@inject IcitiesService citiesServiceInView
<p>Home Page</p>

<ul class="list-group">
    @foreach(var item in Model)
    {
        <li>@item</li>
    }
</ul>

<h2>@ViewBag.instance1</h2>
<h2>@ViewBag.instance2</h2>
<h2>@ViewBag.instance3</h2>